.hero {
    height: 93vh;
    position: relative;
    margin-top: 0;
    margin-bottom: -2rem;
    display: block;
    background-color: rgb(245, 228, 215);
    width: 75%;
  }
  
.intro{
    color: rgb(245, 228, 215);
    position: absolute;
    top: 180px;
    right: 0;
    margin-right: 5%;
    border-right: 5%;
    width: 40rem;
}

.intro>h1{ 
    background-color: transparent;
    font-size: 5rem;
  }

  p{
    font-size: 2em;
  }

button{
    color:rgb(245, 228, 215);
    border-color: rgb(245, 228, 215);
    border-radius: 10%;
    background-color: rgba(115, 135, 123, 0.58);
    margin-left: 3%;
    padding-left: 3%;
    padding-right: 3%;
    height: 50px;
    font-size: 1.5em;
}

button:hover{
    background-color: rgba(229, 209, 208, 0.865);
    color:rgb(115, 135, 123);
}

.content{
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 3em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(245, 228, 215);
}

.loginbutton{
  background-color:rgb(245, 228, 215);
  border-color: rgb(245, 228, 215);
  border-radius: 5%;
  margin-left: 1%;
  padding:8px;
  font-size: 1.5em;
}


@media screen and (max-width: 1300px){
    h1{
      font-size: 4em;
    }
    .hero {
      height: 50%;
    }

  }
  
@media screen and (max-width: 800px){
    h1{
      font-size: 1em;
    }
    .hero {
      height: 20%;
    }
  }