.checkbutton{
    color:rgb(229, 209, 208);
    border-color: rgb(229, 209, 208);
    border-radius: 5%;
    background-color: rgba(115, 135, 123, 0.58);
    margin-top: 5%;
    height: 100px;
    font-size: 1em;
}

.checkbutton:hover{
    background-color:rgb(229, 209, 208);
    color: rgba(115, 135, 123, 0.58);
}

.nowtag{
    text-align: center;
    justify-content: center;
}

.albumArt{
    height: 400px;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

