h1{
    font-size: 4rem;
    position: center;
    color:  rgb(229, 209, 208);
    margin-top: 30px;
    margin-left: 15px;
}

.albumArt{
    width: 400px;
    margin-top: 45px;
}

.row{
    margin-left: 100px;
}
.track{
    color: rgb(189, 187, 182);
    margin-top: 5px;
}